<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>Label</key>
        <string>zfs-auto-snapshot-monthly</string>
        <key>ProgramArguments</key>
        <array>
            <string>/usr/local/bin/zfs-auto-snapshot</string>
            <string>--default-exclude</string>
            <string>--skip-scrub</string>
            <string>--prefix=znap</string>
            <string>--label=monthly</string>
            <string>--keep=12</string>
            <string>//</string>
        </array>
        <key>RunAtLoad</key>
        <false/>
        <key>StartCalendarInterval</key>
        <dict>
            <key>Minute</key>
            <integer>0</integer>
            <key>Hour</key>
            <integer>0</integer>
            <key>Day</key>
            <integer>1</integer>
        </dict>
        <key>StandardErrorPath</key>
        <string>/var/log/zfs-auto-snapshot/error.log</string>
        <key>StandardOutPath</key>
        <string>/var/log/zfs-auto-snapshot/info.log</string>
    </dict>
</plist>
